@import '/src/global-styles/styles/root.scss';

.home-page {
	background-color: var(--color-background-main);
	min-height: 100vh;
	height: 100%;
	padding-top: 159px;
	padding-bottom: 140px;
	padding: 159px 10.5% 140px 10.5%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	line-height: 24px;

	@media screen and (max-width: 834px) {
		flex-direction: column;
		align-items: center;
		padding: 48px 16px 64px 16px;
	}

	& &__left-side {
		color: var(--color-font-primary);
		max-width: 467px;
		margin-right: 109px;

		@media screen and (max-width: 834px) {
			margin-right: 0;
			max-width: 496px;
		}

		@media screen and (max-width: 375px) {
			max-width: 343px;
		}
	}

	& &__title {
		font-size: 48px;
		line-height: 56px;
		margin-bottom: 24px;
		font-weight: 500;
		letter-spacing: -0.002em;

		@media screen and (max-width: 834px) {
			margin-bottom: 16px;
		}

		@media screen and (max-width: 375px) {
			font-size: 32px;
			line-height: 40px;
		}
	}

	& &__description {
		font-size: 16px;

		@media screen and (max-width: 834px) {
			margin-bottom: 24px;
		}
	}
}
