.homepage-cards {
	display: grid;
	gap: 31px 24px;
	grid-template-columns: repeat(2, 1fr);

	@media screen and (max-width: 834px) {
		gap: 16px;
	}

	@media screen and (max-width: 375px) {
		grid-template-columns: 1fr;
	}
}
